<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastro de Receita</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <h1 th:text="${receita.id == null ? 'Nova Receita' : 'Editar Receita'}"></h1>
    <form th:action="@{/receitas/salvar}" method="post">
        <input type="hidden" th:value="${receita.id}" name="id"/>

        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" th:value="${receita.nome}" required><br/>

        <label for="modoPreparo">Modo de Preparo:</label>
        <textarea id="modoPreparo" name="modoPreparo" required th:text="${receita.modoPreparo}"></textarea><br/>

        <label>Ingredientes:</label><br/>
        <div th:each="ingrediente : ${ingredientes}">
            <input type="checkbox" th:id="'ingrediente_' + ${ingrediente.id}" 
                   th:name="'ingrediente_' + ${ingrediente.id}" value="1.0"
                   th:checked="${#lists.contains(receita.receitaIngredientes.?[ingrediente.id == ingrediente.id], ingrediente)}">
            <label th:for="'ingrediente_' + ${ingrediente.id}" th:text="${ingrediente.nome}"></label>
            <input type="number" th:name="'quantidade_' + ${ingrediente.id}" placeholder="Quantidade" step="0.01"><br/>
        </div>

        <button type="submit">Salvar</button>
    </form>
    <a th:href="@{/receitas}">Voltar</a>
</body>
</html>
