<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastro de Produto</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <h1 th:text="${produto.id == null ? 'Novo Produto' : 'Editar Produto'}"></h1>
    <form th:action="@{/produtos/salvar}" method="post">
        <input type="hidden" th:value="${produto.id}" name="id"/>

        <label for="descricao">Descrição:</label>
        <input type="text" id="descricao" name="descricao" th:value="${produto.descricao}" required><br/>

        <label for="modoPreparo">Modo de Preparo:</label>
        <textarea id="modoPreparo" name="modoPreparo" required th:text="${produto.modoPreparo}"></textarea><br/>

        <label for="conservadoGelado">Conservado Gelado:</label>
        <input type="checkbox" id="conservadoGelado" name="conservadoGelado" th:checked="${produto.conservadoGelado}"><br/>

        <label>Receitas:</label><br/>
        <div th:each="receita : ${receitas}">
            <input type="checkbox" th:id="'receita_' + ${receita.id}" 
                   th:name="'receita_' + ${receita.id}" value="1.0"
                   th:checked="${#lists.contains(produto.produtoReceitas.?[receita.id == receita.id], receita)}">
            <label th:for="'receita_' + ${receita.id}" th:text="${receita.nome}"></label>
            <input type="number" th:name="'quantidade_receita_' + ${receita.id}" placeholder="Quantidade" step="0.01"><br/>
        </div>

        <label>Ingredientes:</label><br/>
        <div th:each="ingrediente : ${ingredientes}">
            <input type="checkbox" th:id="'ingrediente_' + ${ingrediente.id}" 
                   th:name="'ingrediente_' + ${ingrediente.id}" value="1.0"
                   th:checked="${#lists.contains(produto.produtoIngredientes.?[ingrediente.id == ingrediente.id], ingrediente)}">
            <label th:for="'ingrediente_' + ${ingrediente.id}" th:text="${ingrediente.nome}"></label>
            <input type="number" th:name="'quantidade_ingrediente_' + ${ingrediente.id}" placeholder="Quantidade" step="0.01"><br/>
        </div>

        <label>Embalagens:</label><br/>
        <div th:each="embalagem : ${embalagens}">
            <input type="checkbox" th:id="'embalagem_' + ${embalagem.id}" 
                   th:name="'embalagem_' + ${embalagem.id}" th:value="${embalagem.id}"
                   th:checked="${produto.embalagens.contains(embalagem)}">
            <label th:for="'embalagem_' + ${embalagem.id}" th:text="${embalagem.descricao}"></label><br/>
        </div>

        <button type="submit">Salvar</button>
    </form>
    <a th:href="@{/produtos}">Voltar</a>
</body>
</html>
