<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout}">
	<head>
		<title th:text="${pageTitle}">Sistema de Precificação</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
			integrity="sha512-pc5i0FodRwaIkgJr6aBuK2g3lXgGU4kMftgImBbZ4B6xDwppXJkNSh45clG2HnNHjZ1g1O3BhwccBJrG5gDknw=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
	</head>
<body class="h-screen">
    <div th:fragment="page" class="h-full flex items-center justify-center" >
		
        <h1 class="text-3xl font-bold text-gray-700 mb-6">
            Bem-vindo ao Sistema de Precificação de Produtos de Confeitaria
        </h1>
	
        
    </div>
</body>
</html>
