<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sistema de Precificação</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <h1>Bem-vindo ao Sistema de Precificação de Produtos de Confeitaria</h1>
    <nav>
        <ul>
            <li><a th:href="@{/ingredientes}">Gerenciar Ingredientes</a></li>
            <li><a th:href="@{/receitas}">Gerenciar Receitas</a></li>
            <li><a th:href="@{/produtos}">Gerenciar Produtos</a></li>
            <li><a th:href="@{/embalagens}">Gerenciar Embalagens</a></li>
        </ul>
    </nav>
</body>
</html>
